

<h1>Order stuff here</h1>
<div class = "row">

    {{#each burgers}}
    {{burger_name}}
    <button button class="eat" data-id="{{id}}" data-devoure="{{devoure}}"></button>
    {{/each}}

</div>
<h2>burgers Devored</h2>
<ul>
    {{#each burgers}}
    {{/each}}

</ul>


<h2>Add Burger</h2>
<div class = "row">
<form class="form">

    <div class="form-group">
        <label for="burger">Devour Burger</label>
        <input type="text" id="burgerT" name="burger">
    </div>
    <button type="submit">What cha want boi?</button>

</div>



</form>